@import '../../../../style.css';

.menu-div {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    top: 0px;
    height: 100px;
    margin-bottom: 30px;
    background-color: #fff;
    border-bottom: #000 solid 1px;
}

.menu {
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.logo-menu-section {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo-menu-section img {
    width: 100px;
    height: 100px;
    animation: rotate 1s;
}

.logo-menu-section img:hover {
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content-menu-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.menu-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    min-width: 150px;
    min-height: max-content;
    border-radius: 100px;
}

.menu-ul-active {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    min-width: 150px;
    min-height: max-content;
    border-radius: 100px;
    background-color: #1a69aa;
}

.menu-ul a{
    text-decoration: none;
}

.menu-ul a:visited{
    color: #fff;
}

.menu-ul a{
    text-decoration: none;
}

.menu-ul a:visited{
    color: #fff;
}

.menu-item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: max-content;
    padding: 15px;
    border: #000 solid 1px;
    border-radius: 100px;
    color: #fff;
    background-color: #041f23;
}

.menu-item:hover {
    font-weight: bolder;
    letter-spacing: 1px;
    color: #fff;
    background-color: #1a69aa;
    cursor: pointer;
    box-shadow: #000 4px 4px 4px;
}

