@import '../../../style.css';

.about-content {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.portrait-section {
    padding: 0px;
    margin: 20px;
    max-height: fit-content;
    max-width: fit-content;
    text-align: center;
    align-items: center;
}

.portrait-section img {
    width: 212px;
    height: 212px;
    margin: 0px;
    border-radius: 50px;
}

.about-info-section {
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-info-p {
    padding: 10px;
    text-align: center;
    margin: 20px;
}