@import './normalize.css';

html {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}