@import './normalize.css';

:root {
    --primary-color: #1a69aa;
    --secondary-color: #041f23;
    --tertiary-color: #006dff;
    --quaternary-color: #000;
    --quinary-color: #fff;
    --background-primary-color: rgb(77, 77, 77);
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}