@import '../../../style.css';

.notfound-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.notfound-div img {
    width: 200px;
    height: 200px;
}

.notfound-div h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #000;
}

.notfound-div h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}